.menuHeader {
    display: grid;
    background-color: grey;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    padding: 10px 0;
}
/*@media screen and (max-width: 1200px) and (min-width: 700px) {
    .menuHeader {
        gap: 8%;
        text-align: center;
        align-items: center;
    }
}*/
@media screen and (max-width: 1200px) {
    .menuHeader {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}
.heure{
    padding: 10px 30px;
    background-color: blue;
    color: pink;
}
.date{
    padding: 10px 30px;
    background-color: blue;
    color: pink;
}
.vibration{
    padding: 10px 30px;
    background-color: blue;
    color: pink;
}
.batterie{
    padding: 10px 30px;
    background-color: blue;
    color: pink;
}
.latencePing{
    padding: 10px 30px;
    background-color: blue;
    color: pink;
}

.heure:hover{
    background-color: green;
    color: black;
}
.date:hover{
    background-color: green;
    color: black;
}
.vibration:hover{
    background-color: green;
    color: black;
}
.batterie:hover{
    background-color: green;
    color: black;
}
.latencePing:hover{
    background-color: green;
    color: black;
}
