.container {

    width: 98vw;
    height: 95vh;
    overflow: hidden;
    position: relative;
    top: 25px;
    padding: 5px;
}
.content-header {
    position: absolute;
    background: #f1ecec;
    width : 432px;
    height: 20px;
    z-index: 5;
}
.content-header .info {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}
.content{
    position: absolute;
    width: 400px;
    height: 600px;
    background: grey;
    border: 1px solid;
    padding : 15px;
}

.tete:active {
background: #c4ffb1;
}