<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../style/header.css" /> 
</head>
<body>
    




<header>
    <div class="menuHeader">
        <div class="heure" id="time">00:00:00s</div>
        <div class="date" id="date">42/42/2442</div>
        <div class="vibration">Vibreur 'brrrrrrrr'</div>
        <div class="batterie">125% de batterie</div>
        <div class="latencePing">100ms</div>
    </div>
</header>











<script src="header.js"></script>
<script src="../horloge/horloge.js"></script>
</body>
</html>