.tic-tac-toe {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	min-height: 500px;
	height: 100%;
	border: 1px solid #000000;
}

.tic-tac-toe > button {
	border: 1px solid #000000;
	background-color: #ffffff;
}
